 <form class="formulario-container" [formGroup]="usuarioFormulario" (ngSubmit)="onSubmit()">
        <header class="header-formulario">
            <h3>Registro de Usuarios</h3>
        </header>
        
        <div class="grid-layout">
            <input type="hidden" formControlName="Id" value="0">

            
         
        <mat-form-field  appearance="outline" >
        <mat-label>Primer Nombre:</mat-label>
        <input matInput #input  formControlName="PrimerNombre" [errorStateMatcher]="matcher"/> 
        <mat-icon matSuffix>person_outline</mat-icon>  
          @if(usuarioFormulario.get('PrimerNombre')?.hasError('required')){
            <mat-error>El Primer Nombre es <strong>obligatorio</strong>.</mat-error>
        }           
        </mat-form-field>  

        <mat-form-field appearance="outline" >
        <mat-label>Segundo Nombre:</mat-label>
        <input matInput  formControlName="SegundoNombre">
        @if(usuarioFormulario.get('SegundoNombre')?.hasError('required')){
            <mat-error>El Segundo Nombre es <strong>obligatorio</strong>.</mat-error>
        } 
        <mat-icon matSuffix>person_outline</mat-icon>     
        </mat-form-field>

        <mat-form-field  appearance="outline" >
        <mat-label>Primer Apellido:</mat-label>
        <input matInput #input  formControlName="PrimerApellido"/> 
          @if(usuarioFormulario.get('PrimerApellido')?.hasError('required')){
            <mat-error>El Primer Apellido es <strong>obligatorio</strong>.</mat-error>
        }    
        <mat-icon matSuffix>person_outline</mat-icon>     
        </mat-form-field>  

        <mat-form-field appearance="outline" >
        <mat-label>Segundo Apellido:</mat-label>
        <input matInput  formControlName="SegundoApellido">
        @if(usuarioFormulario.get('SegundoApellido')?.hasError('required')){
            <mat-error>El Segundo Apellido es <strong>obligatorio</strong>.</mat-error>
        }
        <mat-icon matSuffix>person_outline</mat-icon>     
        </mat-form-field>

        <mat-form-field  appearance="outline" >
        <mat-label>Usuario:</mat-label>
        <input matInput #input formControlName="Usuario"/>    
        @if(usuarioFormulario.get('Usuario')?.hasError('required')){
            <mat-error>El Usuario es <strong>obligatorio</strong>.</mat-error>
        }
        <mat-icon matSuffix>account_circle</mat-icon>     
        </mat-form-field>  

        <mat-form-field appearance="outline" class="w-100">
        <mat-label>Contraseña:</mat-label> 
        <input matInput [type]="hide() ? 'password' : 'text'" formControlName="Password">
        <mat-icon matSuffix (click)="hide.set(!hide())">
            {{ hide() ? 'visibility_off' : 'visibility' }}
       </mat-icon>
        @if(usuarioFormulario.get('Password')?.hasError('required')){
             <mat-error>La Contraseña es <strong>obligatoria</strong>.</mat-error>
        } 
         @if (usuarioFormulario.get('Password')?.hasError('minlength')) {
             <mat-error>La Contraseña debe tener al menos 6 caracteres.</mat-error>
        }
         @if (usuarioFormulario.get('Password')?.hasError('pattern')) {
             <mat-error>La Contraseña debe contener al menos una letra mayúscula, una letra minúscula y un número.</mat-error>  
        }
        </mat-form-field>

        <mat-form-field  appearance="outline" >
        <mat-label>Correo:</mat-label>
        <input matInput type="email"  formControlName="Correo" [errorStateMatcher]="matcher"/>               
        @if(usuarioFormulario.get('Correo')?.hasError('email') && !usuarioFormulario.get('Correo')?.hasError('required')){
            <mat-error>El correo no es válido.</mat-error>
        }          
         @if(usuarioFormulario.get('Correo')?.hasError('required')){
            <mat-error>El correo es <strong>obligatorio</strong>.</mat-error>
        } 
         <mat-icon matSuffix>alternate_email</mat-icon>            
        </mat-form-field>  

        <mat-form-field appearance="outline" >
        <mat-label>Celular:</mat-label>
        <input matInput type="tel" formControlName="Celular" (keypress)="soloNumeros($event)">
       
         @if(usuarioFormulario.get('Celular')?.hasError('pattern'))
         {
            <mat-error>El número de celular no es válido.</mat-error>
        }
        
        @if(usuarioFormulario.get('Celular')?.hasError('minlength') || usuarioFormulario.get('Celular')?.hasError('maxlength')){
            <mat-error>El número de celular no es válido.</mat-error>
        }
         
        <mat-icon matSuffix>phone_iphone</mat-icon>      
        </mat-form-field>

        <mat-form-field appearance="outline" >
        <mat-label>Roles</mat-label>
        <mat-select appearance="outline" formControlName="Rol">
        <mat-option value="">Seleccione un rol</mat-option>
           
           @for(roles of Roles(); track roles.Id)
           {
            <mat-option [value]="roles.Codigo">{{ roles.Rol }}</mat-option>           
           }     
        </mat-select>
            @if(usuarioFormulario.get('Rol')?.hasError('required')){
                <mat-error>El rol es <strong>obligatorio</strong>.</mat-error>
            }
            <mat-icon matSuffix>manage_accounts</mat-icon>    
        </mat-form-field>  
    </div>
    <footer class="acciones-formulario">
        <button matButton="tonal" class="m-1" type="submit"><mat-icon >save</mat-icon>Guardar</button>
        <button matButton="tonal" class="m-1" type="button" (click)="onCancel()"><mat-icon >cancel</mat-icon> Cancelar</button>
    
    </footer>  
</form>


<!-- </form>
   <button class="btn btn-primary btn-sm" type="submit">Registrar</button>
       <button class="btn btn-secondary btn-sm" type="button" (click)="onCancel()" >Cancelar</button> -->




<!-- 
<form class="container" [formGroup]="usuarioFormulario" (ngSubmit)="onSubmit()">
    <div class="row">
        <input type="hidden" formControlName="Id" value="0">
        <div class="col-md-12 mb-3">
             <h3 class="form-label text-center">Registro de Usuarios</h3>
        </div>   
        <div class="col-md-6">
            <label class="form-label form-label-sm">Primer Nombre :</label>
            <input 
                class="form-control form-control-sm" 
                type="text"
                id="PrimerNombre"
                name="PrimerNombre"
                formControlName="PrimerNombre"
            />
        </div>  

          <div class="col-md-6">
            <label class="form-label form-label-sm">Segundo Nombre :</label>
            <input 
                class="form-control  form-control-sm" 
                type="text"
                 id="SegundoNombre"
                name="SegundoNombre"
                formControlName="SegundoNombre"
                />
        </div>  

          <div class="col-md-6">
            <label class="form-label form-label-sm">Primer Apellido :</label>
            <input 
                class="form-control  form-control-sm" 
                type="text" 
                id="PrimerApellido"
                name="PrimerApellido"
                formControlName="PrimerApellido"
            />
        </div> 
        
         <div class="col-md-6">
            <label class="form-label form-label-sm">Segundo Apellido :</label>
            <input 
                class="form-control  form-control-sm"  
                type="text"
                id="SegundoApellido"
                name="SegundoApellido"
                formControlName="SegundoApellido"
                />
        </div>  

        <div class="col-md-12">
            <label class="form-label form-label-sm">Usuario :</label>
            <input 
                class="form-control  form-control-sm" 
                type="text" 
                id="Usuario"
                name="Usuario"
                formControlName="Usuario"
            />
            @if (usuarioFormulario.get('Usuario')?.invalid){
                <div>
                    @if(usuarioFormulario.get('usuario')?.errors?.['required']){
                        <small class="text-primary">
                        Este campo es obligatorio.
                        </small>
                    }
                </div>
            }
        </div>  

        <div class="col-md-12">
            <label class="form-label form-label-sm">Contraseña :</label>
               <input 
                    class="form-control  form-control-sm" 
                    type="password" 
                    id="Password"
                    name="Password"
                    formControlName="Password"
               />
        </div> 

        
        <div class="col-md-12">
            <label class="form-label form-label-sm">Correo :</label>
            <input 
                class="form-control  form-control-sm" 
                type="text" 
                id="Correo"
                name="Correo"
                formControlName="Correo"
            />
        </div>  

        
        <div class="col-md-12">
            <label class="form-label form-label-sm">Celular :</label>
            <input 
                class="form-control  form-control-sm" 
                type="text" 
                id="Celular"
                name="Celular"
                formControlName="Celular"
            />
        </div>  
        <div class="col-md-12">
            <label for="Rol" class="form-label">Rol :</label>
             <small class="form-text fw-light ">
                        (*) 
              </small>   
            <select 
              type="text"
              id="CodTipoDocumento"
              class="form-select form-select-sm"
              name="Rol"
              formControlName="Rol"
              >
              <option selected value="">Seleccione rol...</option>
              @for(roles of Roles(); track roles.Id){
              <option [value]="roles.Codigo">{{ roles.Rol }}</option>           
              }      
            </select> 
        </div>
    </div>  
    <div class="d-grid gap-2 mt-5">
       <button class="btn btn-primary btn-sm" type="submit">Registrar</button>
       <button class="btn btn-secondary btn-sm" type="button" (click)="onCancel()" >Cancelar</button>
    </div>    
</form> -->