/* En tu archivo .component.css */
.mi-subheader-personalizado {
  color: #0e0e0e;         /* Cambia el color del texto */
  margin-top: 20px;       /* Ajusta el margen superior */
  display: block;         /* Asegura que el margen se aplique correctamente al span */
  font-weight: 500;
}

